#videobuton
{
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color:#fcefbb;
    font-weight:550;
    color:#001296;
    box-shadow:5px 5px 5px grey;
    margin-right:10px;
    margin-bottom:10px;
    border-radius:9px 9px 9px 9px;
}
#butonicon
{
    font-size:inherit;
    color:#18a100;
    margin-right: 0px;
}
#videobuton:hover
{
    background-color:#f5ffd3;
    font-weight:600;
    color:#125800;
    box-shadow:8px 8px 8px grey;
    border-radius:9px 9px 9px 9px;
    font-style:italic;
}
#duyuru{
    background-color: whitesmoke;
    box-shadow: 20px 20px 20px 20px grey;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
#duyuruyazi{
    padding-top:5%;
    color: #001296;
    text-align: center;
}

