#bolum-uni-yazi
{
    font-size:34px;
    color:white; 
    font-family:sans-serif;
    text-shadow:5px 5px 5px black;
}
#fak-ismi
{
    font-size:29px;
    color:#cfcfcf;
    font-family:sans-serif;
    text-shadow:1px 1px 1px black;
}
#hakkimizda-buton
{
    width: 150px;
    height: 50px;
}
@media only screen and (max-width: 600px) {
    
#bolum-uni-yazi
{
    font-size:20px;
    color:white; 
    font-family:sans-serif;
    text-shadow:5px 5px 5px black;
}
#fak-ismi
{
    font-size:15px;
    color:#cfcfcf;
    font-family:sans-serif;
    text-shadow:1px 1px 1px black;
}

}